<!doctype html>
<html class="no-js" lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
  <head>
    {% block head %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.css" />
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation-icons/foundation-icons.css" />
      <script src="{{ SITEURL }}/theme/js/vendor/modernizr.js"></script>
      {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
      {% endif %}
      {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
      {% endif %}
      {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}
      {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}
      {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
      {% endif %}
      {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
      {% endif %}
      {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
      {% endif %}
      {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
      {% endif %}
      {% block meta %}
        <meta name="author" content="{{ AUTHOR }}" />
      {% endblock %}
    {% endblock %}
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <ul class="button-group">
           <li><a href="#" class="button">Link 1</a></li>
           <li><a href="#" class="button">Link 2</a></li>
           <li><a href="#" class="button">Link 3</a></li>
          </ul>
        </div>
        <h2>{{ SITENAME }} <small>{{ SITESUBTITLE }}</small></h2>
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="large-9 columns" role="content">
        {% block content %}
          <article>

            <h3><a href="#">Blog Post Title</a></h3>
            <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

            <div class="row">
              <div class="large-6 columns">
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
              </div>
              <div class="large-6 columns">
                <img src="http://placehold.it/400x240&text=[img]"/>
              </div>
            </div>

            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

          </article>

          <hr/>
        {% endblock %}
      </div>

       


       

      <aside class="large-3 columns">

        <h5>Categories</h5>
        <ul class="side-nav">
          <li><a href="#">News</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Fun</a></li>
          <li><a href="#">Weasels</a></li>
        </ul>

        <div class="panel">
          <h5>Featured</h5>
          <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
          <a href="#">Read More →</a>
        </div>

      </aside>

       
    </div>

    {% include 'includes/footer.html' %}

    <script src="{{ SITEURL }}/theme/js/vendor/jquery.js"></script>
    <script src="{{ SITEURL }}/theme/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
